.promotion-card{
    border-radius: 8px;
    border: 1px solid #c3c3c3;
    box-shadow: 0 2px 7px 0 rgba(218, 209, 216, 0.15);
    display: flex;
    padding: 15px;
    align-items: center;
    background: coral;
}
.promotion-card__image{
  max-width: 100px;
  margin-right: 20px;
}
.promotion-card__title{
    font-size: 16px;
    color: #2ccec3;
}
.promotion-card__price{
 font-size: 26px;
 font-weight: 700;
 color:#fff;
}
.promotion-card__footer{
    display: flex;
    align-items: center;
}
.promotion-card__coments{
    color: #fff ;
    font-weight: 700;
}

.promotion-card__coments-count{
    margin-left: auto;
    margin-right: 20px;
    color: #fff;
}

.promotion-card__link{
    border: 1px solid #2ccec3;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    padding: 8px 10px;
}